<form action="http://localhost:8080/api/users" method="POST">
	<input type="text" name="name" id="name" placeholder="Nombre" />
	<input
		type="email"
		name="email"
		id="email"
		placeholder="Correo Electronico"
	/>
	<input
		type="password"
		name="password"
		id="password"
		placeholder="Contraseña"
	/>
	<button>Registrar Usuario</button>
</form>